body{
  padding: 20px;
  font-family: Helvetica, Arial;
}

$buttonColor: #46ACCA;

// add styles here

.selected-lessons {
  max-width: 450px;
  .submit-container {
    margin-top: 30px;
    .btn-submit {
      background-color: $buttonColor;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 12px;
      border-radius: 3px;
      border: 1px solid darken($buttonColor, 4%);
    }
  }
  &.loading .btn-submit,
  .btn-submit:disabled {
    background-color: lighten($buttonColor, 20%);
    border-color: lighten($buttonColor, 16%);
  }
}

.checkbox-item {
  display: block;
  font-weight: 300;
  font-size: 14px;
  label {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    margin-left: -5px;
    &:hover {
      background-color: #f3f3f3;
    }
  }
  input {
    margin: 0 10px 0 0;
  }
}